<% if @href %>
  <%= link_to @href, @options do %>
    <%= content_tag(:i, nil, class: "ph-bold ph-#{@icon}") if @icon.present? %>
    <%=  @label if @label %>
  <% end %>
<% else %>
  <%= content_tag :button, @options do %>
    <%= content_tag(:i, nil, class: "ph-bold ph-#{@icon}") if @icon.present? %>
    <%=  @label if @label %>
  <% end %>
<% end %>
