<div class="font-code">
  <div class="flex flex-col md:flex-row justify-between mb-4 space-y-2">
    <div>
      <div class="text-4xl font-medium">
        Emilien "MiRiGaN" BILLARD
      </div>
      <div class="text-xl font-medium">
        Ruby Fullstack Developper
      </div>
      <div class="text-lg font-medium flex items-center">
        <%= content_tag(:i, nil, class: "ph ph-map-pin text-xl mr-2") %>
        : <span class="ml-2">Bordeaux, Remote</span>
      </div>
      <div class="text-lg font-medium flex items-center">
        <%= content_tag(:i, nil, class: "ph ph-at text-xl mr-2") %>
        : <%= link_to 'hello@mirigan.me', 'mailto:hello@mirigan.me', class: 'link ml-2' %>
      </div>
      <div class="flex items-center space-x-2 mt-1.5">
        <%= link_to 'https://github.com/mirigan', target: '_blank', class: "flex items-center" do %>
          <%= content_tag(:i, nil, class: "ph ph-github-logo text-xl") %>
        <% end %>
        <%= link_to 'https://gitlab.com/mirigan', target: '_blank', class: "flex items-center" do %>
          <%= content_tag(:i, nil, class: "ph ph-gitlab-logo text-xl") %>
        <% end %>
        <%= link_to 'https://mastodon.top/@mirigan', target: '_blank', class: "flex items-center" do %>
          <%= content_tag(:i, nil, class: "ph ph-users text-xl") %>
        <% end %>
      </div>
    </div>

    <div class="flex items-center justify-center md:justify-end">
      <%= image_tag "otter.jpg", class: "max-h-36 rounded-lg"%>
    </div>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
    <div class="grid grid-cols-1 gap-4 md:col-span-2 border-4 border-dashed border-gray-200 rounded-lg p-4 w-full">
      <div>
        <p class="text-lg font-medium">À propos de moi :</p>
        <p class="text-md">
          My name is Emilien I'm a fullstack developper from Bordeaux in France
        </p>
      </div>

      <div>
        <p class="text-lg font-medium">Experiences :</p>
        <div class="mt-2">Epicery : (juin. 2022 - aujourd'hui)</div>
        <ul class="list-disc list-inside text-sm text-slate-400">
          <li>Techno : RubyOnRails, NodeJS, TailwindCSS, Kubernetes</li>
          <li>Conception et réalisation de nouvelle fonctionnalités</li>
          <li>Migration du front de NodeJS vers Rails avec mise en place de ViewComponents</li>
          <li>Maintenance opérationnel et évolutive du site et des API</li>
        </ul>

        <div class="mt-2">LR Technologies : (nov. 2019 - jul. 2022)</div>
        <ul class="list-disc list-inside text-sm text-slate-400">
          <li>Techno : PHP, Laravel, Kubernetes</li>
          <li>Mise a jour de Laravel qui était sur une version plus maintenue</li>
          <li>Migration de l'hébergement des sites internets vers Kubernetes</li>
          <li>Conception et réalisation de nouvelle fonctionnalités</li>
          <li>Maintenance opérationnel et évolutive du site</li>
        </ul>

        <div class="mt-2">Snapp' : (sept. 2016 - oct. 2019)</div>
        <ul class="list-disc list-inside text-sm text-slate-400">
          <li>Techno : RubyOnRails, ReactNative</li>
          <li>Dévelopement d'API et backend pour de nouvelles applications</li>
          <li>Dévelopement d'applications avec ReactNative</li>
          <li>Conception et réalisation de nouvelle fonctionnalités</li>
          <li>Maintenance opérationnel et évolutive du site et des API</li>
        </ul>

        <div class="mt-2">Vision Independent productions : (Stage à Dublin)(févr. 2016 - juin 2016)</div>
        <ul class="list-disc list-inside text-sm text-slate-400">
          <li>Techno : Laravel</li>
          <li>Développement d’une beta pour un application/jeu web en lien avec une émission de télévision en projet.</li>
        </ul>
      </div>

      <div>
        <p class="text-lg font-medium">
          Education :
        </p>
        <ul class="list-disc list-inside">
          <li>OpenClassrooms : Tech Lead (2018 - 2019) (Remote)</li>
          <li>IUT de Bordeaux : Licence Professionnelle, Développement d'Applications Web et Innovation Numériques (DAWIN) (2015 - 2016)</li>
          <li>IUT de Limoges : DUT Informatique (2013 - 2015)</li>
        </ul>
      </div>
    </div>

    <div class="space-y-4 border-4 border-dashed border-gray-200 rounded-lg p-4 w-full">
      <div>
        <p class="text-lg font-medium">Languages :</p>
        <ul class="list-disc list-inside">
          <li>Ruby</li>
          <li>JavaScript, TypeScript</li>
          <li>HTML, CSS</li>
          <li>PHP</li>
          <li>Python</li>
        </ul>
      </div>

      <div>
        <p class="text-lg font-medium">Techno :</p>
        <ul class="list-disc list-inside">
          <li>RubyOnRails <span class="text-sm text-slate-400">(RSpec, ViewComponents, Stimulus, Turbo)</span></li>
          <li>NodeJS <span class="text-sm text-slate-400">(Express)</span></li>
          <li>TailwindCSS</li>
          <li>ReactJS / ReactNative</li>
          <li>Laravel</li>
        </ul>
      </div>

      <div>
        <p class="text-lg font-medium">Platform :</p>
        <ul class="list-disc list-inside">
          <li>Linux</li>
          <li>MacOs</li>
          <li>Docker, Kubernetes</li>
        </ul>
      </div>

      <div>
        <p class="text-lg font-medium">Loisir / Passion :</p>
        <ul class="list-disc list-inside">
          <li>StarWars fan</li>
          <li>Video games</li>
          <li>Auto-Moto sports</li>
          <li>Lego</li>
        </ul>
      </div>
    </div>
  </div>
</div>
