<div class="container" data-controller="<%= identifier %>">
  <article class="notice <%= theme %>" role="notice">
    <p><%= @text %></p>
    <% if @closable %>
      <%= content_tag(:i, nil, class: "ph-bold ph-x close text-lg", aria: { label: "Close" }, data: { action: "click->#{identifier}#close" }) if @closable.present? %>
    <% end %>
  </article>
</div>
