@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'JetBrainsMono';
    src: url('JetBrainsMono/JetBrainsMono-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
  }

  @font-face {
    font-family: 'JetBrainsMono';
    src: url('JetBrainsMono/JetBrainsMono-ThinItalic.woff2') format('woff2');
    font-weight: 100;
    font-style: italic;
  }

  @font-face {
    font-family: 'JetBrainsMono';
    src: url('JetBrainsMono/JetBrainsMono-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
  }

  @font-face {
    font-family: 'JetBrainsMono';
    src: url('JetBrainsMono/JetBrainsMono-ExtraLightItalic.woff2') format('woff2');
    font-weight: 200;
    font-style: italic;
  }

  @font-face {
    font-family: 'JetBrainsMono';
    src: url('JetBrainsMono/JetBrainsMono-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
  }

  @font-face {
    font-family: 'JetBrainsMono';
    src: url('JetBrainsMono/JetBrainsMono-LightItalic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
  }

  @font-face {
    font-family: 'JetBrainsMono';
    src: url('JetBrainsMono/JetBrainsMono-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'JetBrainsMono';
    src: url('JetBrainsMono/JetBrainsMono-Italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
  }

  @font-face {
    font-family: 'JetBrainsMono';
    src: url('JetBrainsMono/JetBrainsMono-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: 'JetBrainsMono';
    src: url('JetBrainsMono/JetBrainsMono-MediumItalic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
  }

  @font-face {
    font-family: 'JetBrainsMono';
    src: url('JetBrainsMono/JetBrainsMono-Semibold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
  }

  @font-face {
    font-family: 'JetBrainsMono';
    src: url('JetBrainsMono/JetBrainsMono-SemiboldItalic.woff2') format('woff2');
    font-weight: 600;
    font-style: italic;
  }

  @font-face {
    font-family: 'JetBrainsMono';
    src: url('JetBrainsMono/JetBrainsMono-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: 'JetBrainsMono';
    src: url('JetBrainsMono/JetBrainsMono-BoldItalic.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;
  }

  @font-face {
    font-family: 'JetBrainsMono';
    src: url('JetBrainsMono/JetBrainsMono-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
  }

  @font-face {
    font-family: 'JetBrainsMono';
    src: url('JetBrainsMono/JetBrainsMono-ExtraBoldItalic.woff2') format('woff2');
    font-weight: 800;
    font-style: italic;
  }
}

@layer components {
  .link {
    @apply text-blue-400 visited:text-purple-400;
  }

  /* button */
  .btn {
    @apply px-3 py-2 rounded-md text-sm font-medium flex items-center;
  }
  .btn-primary {
    @apply btn bg-gray-900 text-white hover:bg-gray-700;
  }
  .btn-secondary {
    @apply btn text-gray-300 hover:bg-gray-700 hover:text-white;
  }
  .btn i {
    @apply mr-1
  }

  /* notice */
  .notice {
    @apply flex items-center;
  }
  .notice .close {
    @apply text-xl cursor-pointer;
  }
  .notice-primary {
    @apply bg-violet-100 border-l-4 border-violet-500 p-4 rounded relative text-violet-800;
  }
  .notice-success .close svg {
    @apply text-violet-500;
  }
  .notice-success {
    @apply bg-green-100 border-l-4 border-green-500 p-4 rounded relative text-green-800;
  }
  .notice-success .close svg {
    @apply text-green-500;
  }
  .notice-warning {
    @apply bg-orange-100 border-l-4 border-orange-500 p-4 rounded relative text-orange-800;
  }
  .notice-warning .close svg {
    @apply text-orange-500;
  }

  .card {
    @apply shadow overflow-hidden rounded-lg px-4 py-5 sm:px-6 bg-slate-800 text-white;
  }

  .label {
    @apply block text-sm font-medium;
  }
  .input {
    @apply block mt-1 w-full shadow-sm border-gray-300 rounded-md;
    @apply text-indigo-700 sm:text-sm;
    @apply focus:ring-indigo-500 focus:border-indigo-500
  }
}
