<footer class="container py-3">
  <small>Built with <a class="link" href="https://rubyonrails.org/" target="_blank">RubyOnRails</a> and <a class="link" href="https://tailwindcss.com/" target="_blank">Tailwindcss</a> • <a class="link" href="https://gitlab.com/mirigan/erebor" target="_blank">Source code</a></small>
</footer>
