<!DOCTYPE html>
<html class="h-full">
  <head>
    <title><%= content_for?(:title) ? yield(:title) : 'Erebor' %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
  </head>

  <body class="h-full text-slate-200 bg-slate-700">
    <main class="container py-6">
      <%= yield %>
    </main>

    <%= component "atoms/footer" %>
  </body>
</html>

